<!DOCTYPE html>
<html>
<head>
	<title>The Canine Bowl</title>
	<link rel="stylesheet" href="https://use.typekit.net/rro7qta.css">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="home.css">
	<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://unpkg.com/@popperjs/core@2"></script>
	<script type="text/javascript" src="home.js"></script>
</head>
<body>

<div>
	<nav class="navbar navbar-one navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Navbar</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
		  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link act" href="#">Home <span class="sr-only">(current)</span></a>
	      <a class="nav-item nav-link" href="#">Features</a>
	      <a class="nav-item nav-link" href="#">Pricing</a>
	      <a class="nav-item nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	    </div>
	  </div>
	</nav>
</div>
<div class="first">
	<div class="row">
		<div class="col-lg-12 m-0 px-auto"><h1 class="display-3 text-center text-uppercase">
			Welcome to <br> <span class="text-dark">Canine Bowl</span>. <br> <span class="blockquote-footer">The Dog Food <br> Company.</span>
			<button class="btn btn-warning"> About Us! </button>
		</h1>
		</div>
	</div>
</div>
<div class="container">
	<nav class="navbar navbar-two-dis navbar-light justify-content-center">
	  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
	  <ul class="nav nav-one nav-pills">
	    <li class="nav-item"><a class="nav-link active" href="#item1">Why Us?</a></li>
	    <li class="nav-item"><a class="nav-link" href="#Item2">Our Kitchen</a></li>
	    <li class="nav-item"><a class="nav-link" href="#one">Dog Health</a></li>
	    <li class="nav-item"><a class="nav-link" href="#two">Delivery</a></li>
	    <li class="nav-item"><a class="nav-link" href="#three">Item5</a></li>
	    <!-- Dropdown class -->
	    <!-- <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
	      <div class="dropdown-menu">
	      	<li><a class="dropdown-item" href="#three">Item5</a></li> -- Sample
	        <div role="separator" class="dropdown-divider"></div>
	      </div>
	    </li> -->
	  </ul>
	</nav>
	<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
	<div data-aos="fade-up" data-aos-duration="2000">
	  <h4 id="item1" class="display-4">Item</h4>
		<div class="card" style="width: 100%">
		  <img src="..." class="card-img-top" alt="...">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">Cras justo odio</li>
		    <li class="list-group-item">Dapibus ac facilisis in</li>
		    <li class="list-group-item">Vestibulum at eros</li>
		  </ul>
		  <div class="card-body">
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
	</div>
	<div data-aos="fade-up" data-aos-duration="2000">
	  <h4 id="Item2">Item</h4>
	  <div class="card" style="width: 100%;">
		<div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
	</div>
	<div>
	  <h4 id="one">Item</h4>
	  <div class="row" data-aos="flip-left" data-aos-duration="2000">
		  <div class="col-sm-6">
		    <div class="card">
		      <div class="card-body">
		        <h5 class="card-title">Special title treatment</h5>
		        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		        <a href="#" class="btn btn-primary">Go somewhere</a>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6" data-aos="flip-right" data-aos-duration="2000">
		    <div class="card">
		      <div class="card-body">
		        <h5 class="card-title">Special title treatment</h5>
		        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		        <a href="#" class="btn btn-primary">Go somewhere</a>
		      </div>
		    </div>
		  </div>
	  </div>
	</div>
	<div>
	  <h4 id="two">Item</h4>
	  <div class="row" data-aos="flip-up" data-aos-duration="2000">
		  <div class="col-sm-6">
		    <div class="card" style="width: 100%;">
			  <img src="..." class="card-img-top" alt="...">
			  <div class="card-body">
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
		  </div>
		  <div class="col-sm-6" data-aos="flip-up" data-aos-duration="2000">
		    <div class="card" style="width: 100%;">
			  <img src="..." class="card-img-top" alt="...">
			  <div class="card-body">
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
		  </div>
		</div>
	</div>
	<div id="div-fade">
	  <h4 id="three">Item</h4>
	  <p id="fade-js">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
	AOS.init();
</script>
</body>
</html>